{% extends 'project/base.html' %}

{% block content %}
<style>
    .formIndex {
        margin-left: 220px;

    }

    .bg-success {
        background-color: rgb(134, 218, 134) !important;
        border-radius: 4px;
        padding: 3px;
        font-size: 13px;

    }

    input {
        font-size: 12px;
    }

    .bg-dim {

        background-color: rgb(46, 43, 43);
    }

    .alert {
        text-align: center;
        margin-top: 10px;
    }
</style>
{% if assignments|length < 1 %} <span>
    <h6 class="formIndex">You haven't created any assignment yet!</h6></span>
    {% else %}


    <div class="container formIndex">
        <div class="row">
            <div class="col-lg-11 col-md-8 col-sm-8 col-8">
                <table class="table  mt-4 border">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Assignment no</th>
                            <th scope="col"> Date</th>
                            <th scope="col"> Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for assignment in all_assignments%}
                        <tr>
                            <td>1</td>
                            <td>{{assignment.assignment_date}}</td>
                            <td>{{assignment.assignment_creator}}</td>
                            <td>{{assignment.assignment_title}} </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {% endif %}


    {% endblock %}