{% extends 'project/base.html' %}

{% block content %}

<style>
    .container {
        margin-left: 240px;
    }

    .formIndexx {
        margin-left: 240px;

    }

    .containerr {
        display: flex;
        margin: 0px;

    }

    ul {
        list-style: square;
    }

    .shadoww {
        box-shadow: 17px 6px 23px -12px rgba(0, 0, 0, 0.73);
        -webkit-box-shadow: 17px 6px 23px -12px rgba(0, 0, 0, 0.73);
        -moz-box-shadow: 17px 6px 23px -12px rgba(0, 0, 0, 0.73);
    }

    .btn-color {
        background-color: #2baa73 !important;
        color: #fff;
        margin-left: 110px;
        padding: 15px;
    }

    .btn-color:hover {
        background-color: #b37272 !important;
        color: #fff;


    }

    .btn-color-btn {
        background-color: #bf6565 !important;
        color: #fff;
        border: 2px solid #b37272;
        width: 140px !important;
        border-radius: 20px;

    }
</style>


<div class="container  ">
    <div class="row">
        <a href="{%url 'teacher'%}">
            <button class="btn  btn-color mt-5 mb-5">&larr; Back To Home</button>
        </a>
        {% for item1, item2 in mylist %}
        <div class="col lg-10 col-md-10 col-sm-10 col-10 ">
            <div class="card mt-3 ml-5">
                <div class="card-body">
                    <h5 class="card-title"> Potentially Copied from : {{item1}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Plagirism percentage :{{item2|floatformat:-2 }}%</h6>
                </div>
            </div>
        </div>
        {%endfor %}


    </div>
</div>
{% endblock %}