{% extends 'project/base.html' %}

{% block content %}

<!-- <h4>Create Task</h4> -->

<br>
<style>
    .container {
        margin-left: 240px;
    }

    .formIndexx {
        margin-left: 240px;

    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

    * {
        font-family: 'Roboto', sans-serif;
    }

    body {
        background-color: rgb(249, 245, 245);
    }

    .container {
        margin-left: 240px;
    }

    .formIndexx {
        margin-left: 240px;

    }

    .navAss {
        width: 100vw;

    }

    .ulAss {
        margin: 0;
        padding: 0;
        display: flex;

    }

    .liAss {
        list-style-type: none;
        margin: 0 2vw;
    }

    .btn-color {
        background-color: #2baa73 !important;
        color: #fff;
        margin-left: 80px;
        padding: 15px;
    }

    .formindex {
        margin-left: 350px;

    }

    .btn-color:hover {
        background-color: #b37272 !important;
        color: #fff;


    }

    .btn-color-btn {
        background-color: #bf6565 !important;
        color: #fff;
        border: 2px solid #b37272;
        width: 140px !important;
        border-radius: 20px;

    }





    .btn-color-btn:hover {
        background-color: #2baa73 !important;
        border: 2px solid #2baa73;
        color: #fff;

    }

    .btn-color_table {
        background-color: #2baa73 !important;
        color: #fff;
    }
</style>
<div class="container ">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <div class="navAss">
                <ul class="ulAss">
                    <li class="liAss">
                        <a class="navLink btn btn-color  mb-5" href="{% url 'teacher_all_assignments' %}">Your Created
                            Assignments</a>
                    </li>
                    <li class="liAss">
                        <a class="navLink btn btn-color mb-5" href="{% url 'teacher' %}">Students Uploaded
                            Assignments</a>
                    </li>
                    <li class="liAss">
                        <a class="navLink btn btn-color mb-5" href="{% url 'teacher' %}">&larr; Back To Home</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>


</div>


<div class="container formindex ">
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11">
            <h5>Create New Assignment</h5>

            <form id="myform" action="{% url 'create_assignment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea required name="task_title" style="width: 90%;" cols="50" rows="1"
                    placeholder="Enter Assignment title here"></textarea><br>
                <textarea required name="task" style="width: 90%;" cols="50" rows="4"
                    placeholder="Enter Assignment details here"></textarea><br>
                <button type="submit" id="btn-submit" class="btn btn-color formindex">Create
                    Assignment</button>
            </form>


        </div>
    </div>
</div>



<br>



{% endblock %}