{% extends 'project/base.html' %}

{% block content %}
<style>
    .formIndex {
        margin-left: 250px;

    }

    .bg-success {
        background-color: rgb(134, 218, 134) !important;
        border-radius: 4px;
        padding: 3px;
        font-size: 13px;

    }

    input {
        font-size: 12px;
    }

    .bg-dim {

        background-color: rgb(46, 43, 43);
    }

    .alert {
        text-align: center;
        margin-top: 10px;
    }
</style>


{% if user.is_authenticated == False %}


<div class="container formIndex ">
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-11">
            <div class="jumbotron mt-3 bg-dim text-white">
                <ul>
                    <li>Create Assignments</li>
                    <li>Submit Assignments</li>
                    <li>Check Assignments Status</li>
                    <li>Check Plagiarism in Assignments</li>
                    <li>Generate Plagiarism Report </li>
                    <li>View Marks </li>
                </ul>
                <p>To use this Assignment Mangement System, please login first and if you dont have account then
                    please register first !</p>

                <a class="btn btn-primary btn-sm" href="{%url 'user_login'%}">Login</a>
                <a class="btn btn-primary btn-sm" href="{%url 'register'%}">Register</a>
                <br><br>
                &#x26A0; We assure you all the data you share is save with us and we won't share with any third
                party.

            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}