{% extends 'project/base.html' %}

{% block content %}
<style>
    .formIndex {
        margin-left: 250px;

    }

    .bg-success {
        background-color: rgb(134, 218, 134) !important;
        border-radius: 4px;
        padding: 3px;
        font-size: 13px;

    }

    input {
        font-size: 12px;
    }

    .bg-dim {

        background-color: rgb(46, 43, 43);
    }

    .alert {
        text-align: center;
        margin-top: 10px;
    }
</style>
{% if assignments|length < 0 %} <span>
    <h6 class="formIndex">You Teacher haven't created any assignment yet, Please come back
        Later!</h6></span>
    {% else %}

    {% if user.is_authenticated %}
    {% if is_registerred %}



    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container formIndex ">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11">
                <div class="jumbotron mt-3 bg-dim text-white">
                    <ul>
                        <li>Create Assignments</li>
                        <li>Submit Assignments</li>
                        <li>Check Assignments Status</li>
                        <li>Check Plagiarism in Assignments</li>
                        <li>Generate Plagiarism Report </li>
                        <li>View Marks </li>
                    </ul>
                    <p>To use this Assignment Mangement System, please login first and if you dont have account then
                        please register first !</p>

                    <a class="btn btn-primary btn-sm" href="{%url 'user_login'%}">Login</a>
                    <a class="btn btn-primary btn-sm" href="{%url 'register'%}">Register</a>
                    <br><br>
                    &#x26A0; We assure you all the data you share is save with us and we won't share with any third
                    party.

                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}


    {% endblock %}