{% extends 'project/base.html' %}

{% block content %}
<style>
    .formLogin {
        margin-left: 180px;
        margin-top: 30px;
    }

    span {
        border: 2px solid rgb(148, 213, 148);
        border-radius: 4px;
        background-color: rgb(148, 213, 148);
    }
</style>
{% if user.is_authenticated %}

<div class="container ">
    <div class="row">
        <div class="col-lg-8 co-md-8 col-sm-8 col-8 formLogin">
            <h6>Welcome @{{loggedin_user}}! You account status is <span> Pending</span> Contact your
                Admin to get
                access
                to the services. </h6>


        </div>
    </div>
</div>
{% endif %}

{% endblock %}